NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dcaaibg0e"
CLOUDINARY_URL=cloudinary://747355675663993:5QtewDvkEwWnjxZspeT5T5sTTyo@dcaaibg0e


POSTGRES_URL="postgres://default:N7H3PmhBxMZb@ep-autumn-truth-91645968-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:N7H3PmhBxMZb@ep-autumn-truth-91645968-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:N7H3PmhBxMZb@ep-autumn-truth-91645968.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-autumn-truth-91645968-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="N7H3PmhBxMZb"
POSTGRES_DATABASE="verceldb"
